<%- model_class = TripReport -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:driver_id) %></th>
      <th><%= "Unit #" %></th>
      <th>Date</th>
      <th>Trip</th>
      <th>Distance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @trip_reports.each do |trip_report| %>
      <tr>
        <td><%= link_to trip_report.id, trip_report_path(trip_report) %></td>
        <td><%= trip_report.driver.first_and_last_name %></td>
        <td><%= trip_report.driver.unit_id %></td>
        <td><%= trip_report.trip_start_date %> to <%= trip_report.trip_end_date %></td>
        <td><%= trip_report.trip_started_at %> -> <%= trip_report.most_distant_city %> -> <%= trip_report.trip_ended_at %></td>
        <td><%= trip_report.odometer_range %>
        <td>

          <div class="btn-group">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
              Action
              <span class="caret"></span>
            </a>
          
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_trip_report_path(trip_report), tabindex: -1 %></li>
              <li><%= link_to t"Delete",
                      trip_report_path(trip_report),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      tabindex: 01 %></li>
            </ul>
          </div>

          
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_trip_report_path,
            :class => 'btn btn-primary' %>
