<%- model_class = Crossing -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @crossing.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:odometer_reading) %>:</strong></dt>
  <dd><%= @crossing.odometer_reading %></dd>
  <dt><strong><%= model_class.human_attribute_name(:routes_used) %>:</strong></dt>
  <dd><%= @crossing.routes_used %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trip_report_id) %>:</strong></dt>
  <dd><%= @crossing.trip_report_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              crossings_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_crossing_path(@crossing), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              crossing_path(@crossing),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
