<%- model_class = Driver -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped" id="drivers_index_table">
  <thead>
    <tr>
      <th>Name</th>
      <th id="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= link_to "#{driver.first_name} #{driver.last_name}", driver %></td>
        <td>
          <div class="btn-group">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
              Action
              <span class="caret"></span>
            </a>
          
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_driver_path(driver), tabindex: -1 %></li>
              <li><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      driver_path(driver),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      tabindex: -1 %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_driver_path,
            :class => 'btn btn-primary' %>
